@font-face {
    font-family: 'Roadgeek 2000 Series C';
    src: local('Roadgeek 2000 Series C'), url(./assets/Roadgeek-2000-Series-C.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}
